<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.11">
  <actions>
    <io.jenkins.blueocean.service.embedded.BlueOceanUrlAction plugin="blueocean-rest-impl@1.1.6">
      <blueOceanUrlObject class="io.jenkins.blueocean.service.embedded.BlueOceanUrlObjectImpl">
        <mappedUrl>blue/organizations/jenkins/m2-repo-builder</mappedUrl>
      </blueOceanUrlObject>
    </io.jenkins.blueocean.service.embedded.BlueOceanUrlAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <io.fabric8.jenkins.openshiftsync.BuildConfigProjectProperty plugin="openshift-sync@0.1.23">
      <uid></uid>
      <namespace></namespace>
      <name></name>
      <resourceVersion></resourceVersion>
    </io.fabric8.jenkins.openshiftsync.BuildConfigProjectProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.41">
    <script>@Library(&apos;github.com/syndesisio/syndesis-pipeline-library&apos;)
def id = buildId()

slave {
    withOpenshift {
        //withMaven(mavenImage: &apos;172.30.39.149:5000/syndesis-ci/maven-with-repo:latest&apos;, mavenSettingsXmlSecret: &apos;m2-settings&apos;, serviceAccount: &apos;jenkins&apos;) {
        withMaven(mavenImage: &apos;maven:3.5.0&apos;, mavenSettingsXmlSecret: &apos;m2-settings&apos;, serviceAccount: &apos;jenkins&apos;) {
            inside {
                git &apos;https://github.com/syndesisio/syndesis&apos;
                shareBinary(&apos;openshift&apos;, &apos;oc&apos;)
                    container(&apos;maven&apos;) {
                     sh &quot;&quot;&quot;
                     export PATH=\${PATH}:\${HOME}/bin
                     git submodule update --init --recursive
                     
                     cd connectors
                     mvn clean install -DskipTests -B -Dmaven.repo.local=/home/jenkins/.m2/repository -Duser.home=/home/jenkins
                     cd ..
                     
                     if [ -d /usr/local/share/maven/repository ]; then
                        cp -rf /usr/local/share/maven/repository/* /home/jenkins/.m2/repository/
                     fi
                     
                     cd /home/jenkins/.m2/repository/
                     tar -cvzf /home/jenkins/repository.tar.gz .
                     ls -alH /home/jenkins/repository.tar.gz
                     oc start-build -F --from-archive=/home/jenkins/repository.tar.gz maven-with-repo --request-timeout=10m --loglevel=8
                     &quot;&quot;&quot;
                    }
                }
            }
        }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>