<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

  <localRepository>/home/jenkins/mvnrepo</localRepository>
  <servers>
    <server>
      <id>nexus-snapshots</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
    <server>
      <id>nexus-releases</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
    <server>
      <id>oss-sonatype-staging</id>
      <username>${SONATYPE_USERNAME}</username>
      <password>${SONATYPE_PASSWORD}</password>
    </server>
    <server>
      <id>oss-sonatype-snapshots</id>
      <username>${SONATYPE_USERNAME}</username>
      <password>${SONATYPE_PASSWORD}</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>nexus-central</id>
      <name>Nexus Central Mirror</name>
      <url>http://nexus:8081/content/groups/public</url>
      <mirrorOf>external:*</mirrorOf>
    </mirror>
  </mirrors>

  <profiles>
    <profile>
      <id>syndesis-ci</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <gpg.keyname>${GPG_NAME}</gpg.keyname>
        <gpg.passphrase></gpg.passphrase>
      </properties>
      <repositories>
        <repository>
          <id>image-repo</id>
          <name>Maven repository optionally shipped with the docker image</name>
	        <url>file:///usr/local/share/maven/repository</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>image-plugin-repo</id>
          <name>Maven repository optionally shipped with the docker image</name>
	        <url>file:///usr/local/share/maven/repository</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

</settings>
