<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.11">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>releaseVersion</name>
          <description>The version to release.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>developmentVersion</name>
          <description>The version to set after the release.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>dockerReleaseEnabled</name>
          <description>Enable the release of Docker images.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <io.fabric8.jenkins.openshiftsync.BuildConfigProjectProperty plugin="openshift-sync@0.1.23">
      <uid></uid>
      <namespace></namespace>
      <name></name>
      <resourceVersion></resourceVersion>
    </io.fabric8.jenkins.openshiftsync.BuildConfigProjectProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.41">
    <script>@Library(&apos;github.com/syndesisio/syndesis-pipeline-library@master&apos;)
def vars = [:]
pipeline {
    agent any

    parameters {
        string(defaultValue: &apos;latest&apos;, description: &apos;The tag to use&apos;, name: &apos;tag&apos;)
    }

    stages {
        stage(&quot;Push images&quot;) {
            steps {
                [&quot;1.0&quot;, &quot;${releaseVersion}&quot;, &quot;latest&quot;].each {
                    imagePush(enabled: dockerReleaseEnabled, name: &apos;syndesis-jenkins-push-dockerhub-bc&apos;, user:&apos;syndesis&apos;, repo: &apos;syndesis-jenkins&apos;, imageStreamTag: &quot;syndesis-jenkins:${it}&quot;)
                }
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>